name: Publish to PyPI

on:
  workflow_run:
    workflows: ["Commit lint, format, and release"]
    types:
      - completed

jobs:
  check-conditions:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    outputs:
      should-run: ${{ steps.condition-checker.outputs.should-run }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check conditions
        id: condition-checker
        run: |
          TAG=$(git tag --points-at HEAD)
          if [[ $TAG ]]; then
            echo "This commit has a tag: $TAG"
            echo "should-run=true" >> $GITHUB_OUTPUT
          else
            echo "This commit does not have a tag."
            echo "should-run=false" >> $GITHUB_OUTPUT
          fi

  publish:
    needs: check-conditions
    if: needs.check-conditions.outputs.should-run == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
